<a href="https://colab.research.google.com/github/Aafaaq77/appliedDataSciencewithPython/blob/main/P4DataScienceAssigment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

In [ ]:
cities = pd.read_html('https://en.wikipedia.org/wiki/List_of_American_and_Canadian_cities_by_number_of_major_professional_sports_franchises', 
             converters={'NFL':lambda cell: cell[:cell.index('[')] if '[' in cell else cell,
                         'MLB': lambda cell: cell[:cell.index('[')] if '[' in cell else cell,
                         'NBA': lambda cell: cell[:cell.index('[')] if '[' in cell else cell,
                         'NHL':lambda cell: cell[:cell.index('[')] if '[' in cell else cell})[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]
cities.tail()

   Metropolitan area Population (2016 est.)[8]      NFL MLB NBA         NHL
47           Raleigh                   1302946        —   —   —  Hurricanes
48         Green Bay                    318236  Packers   —   —           —
49            Austin                   2227083        —   —   —           —
50          Hamilton                    747545        —   —   —         NaN
51            Regina                    236481        —   —   —           —

In [ ]:
cities['Population (2016 est.)[8]'] = cities['Population (2016 est.)[8]'].astype(int)

In [ ]:
cities.columns

Index(['Metropolitan area', 'Population (2016 est.)[8]', 'NFL', 'MLB', 'NBA',
       'NHL'],
      dtype='object')

In [ ]:
cities.columns = ['Metropolitan area', 'Population', 'NFL', 'MLB', 'NBA','NHL']

In [ ]:
nhl_df = pd.read_csv('nhl.csv', skiprows=[1])
nhl_df.head()
nhl_df.tail()

                   team  GP   W   L  OL  ...   SOS  RPt% ROW  year League
165  Los Angeles Kings*  82  46  28   8  ...  0.01  .549  38  2014    NHL
166     Phoenix Coyotes  82  37  30  15  ...  0.03  .457  31  2014    NHL
167   Vancouver Canucks  82  36  35  11  ...  0.03  .451  31  2014    NHL
168      Calgary Flames  82  35  40   7  ...  0.04  .402  28  2014    NHL
169     Edmonton Oilers  82  29  44   9  ...  0.07  .348  25  2014    NHL

[5 rows x 15 columns]

In [ ]:
nhl_df.dtypes

team      object
GP        object
W         object
L         object
OL        object
PTS       object
PTS%      object
GF        object
GA        object
SRS       object
SOS       object
RPt%      object
ROW       object
year       int64
League    object
dtype: object

In [ ]:
nhl_df['team'] = nhl_df['team'].str.strip('*')

In [ ]:
nhl_df.drop(nhl_df[nhl_df['team'].str.endswith('Division')].index, inplace=True) # dftest['col2'].mask(dftest['col2'].str.contains('^[0]+$'))

In [ ]:
nhl_df = nhl_df[nhl_df['year'] == 2018]

In [ ]:
nhl_df

                     team  GP   W   L  OL  ...    SOS  RPt% ROW  year League
0     Tampa Bay Lightning  82  54  23   5  ...  -0.07  .634  48  2018    NHL
1           Boston Bruins  82  50  20  12  ...  -0.07  .610  47  2018    NHL
2     Toronto Maple Leafs  82  49  26   7  ...  -0.06  .567  42  2018    NHL
3        Florida Panthers  82  44  30   8  ...  -0.04  .537  41  2018    NHL
4       Detroit Red Wings  82  30  39  13  ...  -0.01  .341  25  2018    NHL
5      Montreal Canadiens  82  29  40  13  ...   0.00  .378  27  2018    NHL
6         Ottawa Senators  82  28  43  11  ...   0.00  .372  26  2018    NHL
7          Buffalo Sabres  82  25  45  12  ...   0.01  .311  24  2018    NHL
9     Washington Capitals  82  49  26   7  ...  -0.04  .585  46  2018    NHL
10    Pittsburgh Penguins  82  47  29   6  ...  -0.04  .573  45  2018    NHL
11    Philadelphia Flyers  82  42  26  14  ...  -0.03  .543  40  2018    NHL
12  Columbus Blue Jackets  82  45  30   7  ...  -0.04  .537  39  2018    NHL
13      New Jersey Devils  82  44  29   9  ...  -0.03  .530  39  2018    NHL
14    Carolina Hurricanes  82  36  35  11  ...  -0.01  .439  33  2018    NHL
15     New York Islanders  82  35  37  10  ...  -0.01  .427  32  2018    NHL
16       New York Rangers  82  34  39   9  ...  -0.01  .427  31  2018    NHL
18    Nashville Predators  82  53  18  11  ...   0.03  .652  47  2018    NHL
19          Winnipeg Jets  82  52  20  10  ...   0.02  .622  48  2018    NHL
20         Minnesota Wild  82  45  26  11  ...   0.04  .549  42  2018    NHL
21     Colorado Avalanche  82  43  30   9  ...   0.04  .518  41  2018    NHL
22        St. Louis Blues  82  44  32   6  ...   0.05  .518  41  2018    NHL
23           Dallas Stars  82  42  32   8  ...   0.04  .506  38  2018    NHL
24     Chicago Blackhawks  82  33  39  10  ...   0.07  .409  32  2018    NHL
26   Vegas Golden Knights  82  51  24   7  ...  -0.01  .616  47  2018    NHL
27          Anaheim Ducks  82  44  25  13  ...   0.01  .555  40  2018    NHL
28        San Jose Sharks  82  45  27  10  ...   0.00  .537  40  2018    NHL
29      Los Angeles Kings  82  45  29   8  ...   0.00  .543  43  2018    NHL
30         Calgary Flames  82  37  35  10  ...   0.03  .470  35  2018    NHL
31        Edmonton Oilers  82  36  40   6  ...   0.03  .415  31  2018    NHL
32      Vancouver Canucks  82  31  40  11  ...   0.05  .409  31  2018    NHL
33        Arizona Coyotes  82  29  41  12  ...   0.05  .372  27  2018    NHL

[31 rows x 15 columns]

In [ ]:
cities['NHL']

0     RangersIslandersDevils
1                 KingsDucks
2                 Blackhawks
3                     Sharks
4                      Stars
5                   Capitals
6                     Flyers
7                   Panthers
8                     Bruins
9                       Wild
10                 Avalanche
11                   Coyotes
12                 Red Wings
13               Maple Leafs
14                         —
15                       NaN
16                    Kraken
17                 Lightning
18                  Penguins
19                       NaN
20                         —
21                       NaN
22                 Predators
23                     Blues
24                         —
25                         —
26            Golden Knights
27                         —
28                         —
29                         —
30                    Sabres
31                 Canadiens
32                   Canucks
33                         —
34                         —
35              Blue Jackets
36                    Flames
37                  Senators
38                    Oilers
39                         —
40                      Jets
41                         —
42                         —
43                         —
44                         —
45                         —
46                         —
47                Hurricanes
48                         —
49                         —
50                       NaN
51                         —
Name: NHL, dtype: object

In [ ]:
nhl_df['team'].str.split()

0       [Tampa, Bay, Lightning]
1              [Boston, Bruins]
2       [Toronto, Maple, Leafs]
3           [Florida, Panthers]
4         [Detroit, Red, Wings]
5         [Montreal, Canadiens]
6            [Ottawa, Senators]
7             [Buffalo, Sabres]
9        [Washington, Capitals]
10       [Pittsburgh, Penguins]
11       [Philadelphia, Flyers]
12    [Columbus, Blue, Jackets]
13        [New, Jersey, Devils]
14       [Carolina, Hurricanes]
15       [New, York, Islanders]
16         [New, York, Rangers]
18       [Nashville, Predators]
19             [Winnipeg, Jets]
20            [Minnesota, Wild]
21        [Colorado, Avalanche]
22          [St., Louis, Blues]
23              [Dallas, Stars]
24        [Chicago, Blackhawks]
26     [Vegas, Golden, Knights]
27             [Anaheim, Ducks]
28          [San, Jose, Sharks]
29        [Los, Angeles, Kings]
30            [Calgary, Flames]
31           [Edmonton, Oilers]
32         [Vancouver, Canucks]
33           [Arizona, Coyotes]
Name: team, dtype: object

In [ ]:
region_mapping = {}
def test_run(row):
  teams = row['NHL']
  if isinstance(teams, str):
    res = re.findall(r'([A-Z]{1,1}[a-z]+)', teams)
    if res:
      for team in res:
        region_mapping[team] = row['Metropolitan area']
  return row

In [ ]:
teams = 'nan'
grp_obj = re.findall(r'([A-Z]{1,1}[a-z]+)', teams)

In [ ]:
grp_obj

[]

In [ ]:
cities.loc[14,'NHL'] # == '—'

'—'

In [ ]:
str(cities['NHL'].fillna(np.nan).loc[15])

'nan'

In [ ]:
cities.apply(test_run, axis='columns')

         Metropolitan area  Population  ...             NBA                     NHL
0            New York City    20153634  ...      KnicksNets  RangersIslandersDevils
1              Los Angeles    13310447  ...  LakersClippers              KingsDucks
2                  Chicago     9512999  ...           Bulls              Blackhawks
3   San Francisco Bay Area     6657982  ...        Warriors                  Sharks
4        Dallas–Fort Worth     7233323  ...       Mavericks                   Stars
5         Washington, D.C.     6131977  ...         Wizards                Capitals
6             Philadelphia     6070500  ...           76ers                  Flyers
7    Miami–Fort Lauderdale     6066387  ...            Heat                Panthers
8                   Boston     4794447  ...         Celtics                  Bruins
9   Minneapolis–Saint Paul     3551036  ...    Timberwolves                    Wild
10                  Denver     2853077  ...         Nuggets               Avalanche
11                 Phoenix     4661537  ...            Suns                 Coyotes
12                 Detroit     4297617  ...         Pistons               Red Wings
13                 Toronto     5928040  ...         Raptors             Maple Leafs
14                 Houston     6772470  ...         Rockets                       —
15                 Atlanta     5789700  ...           Hawks                     NaN
16                 Seattle     3798902  ...             NaN                  Kraken
17          Tampa Bay Area     3032171  ...             NaN               Lightning
18              Pittsburgh     2342299  ...             NaN                Penguins
19               Cleveland     2055612  ...       Cavaliers                     NaN
20              Cincinnati     2165139  ...             NaN                       —
21             Kansas City     2104509  ...             NaN                     NaN
22               Nashville     1865298  ...               —               Predators
23               St. Louis     2807002  ...             NaN                   Blues
24               Baltimore     2798886  ...             NaN                       —
25               Charlotte     2474314  ...         Hornets                       —
26               Las Vegas     2155664  ...             NaN          Golden Knights
27            Indianapolis     2004230  ...          Pacers                       —
28               Milwaukee     1572482  ...           Bucks                       —
29             New Orleans     1268883  ...        Pelicans                       —
30                 Buffalo     1132804  ...             NaN                  Sabres
31                Montreal     4098927  ...               —               Canadiens
32               Vancouver     2463431  ...             NaN                 Canucks
33                 Orlando     2441257  ...           Magic                       —
34                Portland     2424955  ...   Trail Blazers                       —
35                Columbus     2041520  ...               —            Blue Jackets
36                 Calgary     1392609  ...               —                  Flames
37                  Ottawa     1323783  ...               —                Senators
38                Edmonton     1321426  ...               —                  Oilers
39          Salt Lake City     1186187  ...            Jazz                       —
40                Winnipeg      778489  ...               —                    Jets
41               San Diego     3317749  ...             NaN                       —
42             San Antonio     2429609  ...           Spurs                       —
43              Sacramento     2296418  ...           Kings                       —
44            Jacksonville     1478212  ...               —                       —
45           Oklahoma City     1373211  ...         Thunder                       —
46                 Memphis     1342842  ...       Grizzlies                       —
47                 Raleigh     1302946  ...               —              Hurricanes
48               Green Bay      318236  ...               —                       —
49                  Austin     2227083  ...               —                       —
50                Hamilton      747545  ...               —                     NaN
51                  Regina      236481  ...               —                       —

[52 rows x 6 columns]

In [ ]:
region_mapping

{'Avalanche': 'Denver',
 'Blackhawks': 'Chicago',
 'Blue': 'Columbus',
 'Blues': 'St. Louis',
 'Bruins': 'Boston',
 'Canadiens': 'Montreal',
 'Canucks': 'Vancouver',
 'Capitals': 'Washington, D.C.',
 'Coyotes': 'Phoenix',
 'Devils': 'New York City',
 'Ducks': 'Los Angeles',
 'Flames': 'Calgary',
 'Flyers': 'Philadelphia',
 'Golden': 'Las Vegas',
 'Hurricanes': 'Raleigh',
 'Islanders': 'New York City',
 'Jackets': 'Columbus',
 'Jets': 'Winnipeg',
 'Kings': 'Los Angeles',
 'Knights': 'Las Vegas',
 'Kraken': 'Seattle',
 'Leafs': 'Toronto',
 'Lightning': 'Tampa Bay Area',
 'Maple': 'Toronto',
 'Oilers': 'Edmonton',
 'Panthers': 'Miami–Fort Lauderdale',
 'Penguins': 'Pittsburgh',
 'Predators': 'Nashville',
 'Rangers': 'New York City',
 'Red': 'Detroit',
 'Sabres': 'Buffalo',
 'Senators': 'Ottawa',
 'Sharks': 'San Francisco Bay Area',
 'Stars': 'Dallas–Fort Worth',
 'Wild': 'Minneapolis–Saint Paul',
 'Wings': 'Detroit'}

In [ ]:
def create_region(row):
  names = row['team'].split()
  if names[-1] in region_mapping:
    return region_mapping[names[-1]]

In [ ]:
# nhl_df['Metropolitan area'] = nh

nhl_df['Metropolitan area'] = nhl_df.apply(create_region, axis=1)

In [ ]:
nhl_df.head()

                  team  GP   W   L  ... ROW  year League      Metropolitan area
0  Tampa Bay Lightning  82  54  23  ...  48  2018    NHL         Tampa Bay Area
1        Boston Bruins  82  50  20  ...  47  2018    NHL                 Boston
2  Toronto Maple Leafs  82  49  26  ...  42  2018    NHL                Toronto
3     Florida Panthers  82  44  30  ...  41  2018    NHL  Miami–Fort Lauderdale
4    Detroit Red Wings  82  30  39  ...  25  2018    NHL                Detroit

[5 rows x 16 columns]

In [ ]:
combined_df = pd.merge(nhl_df, cities, how='inner', left_on='Metropolitan area', right_on='Metropolitan area')

In [ ]:
combined_df['GP'] = combined_df['GP'].astype(int)

In [ ]:
combined_df['L'] = combined_df['L'].astype(int)

In [ ]:
combined_df['W'] = combined_df['W'].astype(int)

In [ ]:
combined_df['W/L'] = combined_df['W']/(combined_df['W']+combined_df['L'])

In [ ]:
combined_df

                     team  GP  ...                     NHL       W/L
0     Tampa Bay Lightning  82  ...               Lightning  0.701299
1           Boston Bruins  82  ...                  Bruins  0.714286
2     Toronto Maple Leafs  82  ...             Maple Leafs  0.653333
3        Florida Panthers  82  ...                Panthers  0.594595
4       Detroit Red Wings  82  ...               Red Wings  0.434783
5      Montreal Canadiens  82  ...               Canadiens  0.420290
6         Ottawa Senators  82  ...                Senators  0.394366
7          Buffalo Sabres  82  ...                  Sabres  0.357143
8     Washington Capitals  82  ...                Capitals  0.653333
9     Pittsburgh Penguins  82  ...                Penguins  0.618421
10    Philadelphia Flyers  82  ...                  Flyers  0.617647
11  Columbus Blue Jackets  82  ...            Blue Jackets  0.600000
12      New Jersey Devils  82  ...  RangersIslandersDevils  0.602740
13     New York Islanders  82  ...  RangersIslandersDevils  0.486111
14       New York Rangers  82  ...  RangersIslandersDevils  0.465753
15    Carolina Hurricanes  82  ...              Hurricanes  0.507042
16    Nashville Predators  82  ...               Predators  0.746479
17          Winnipeg Jets  82  ...                    Jets  0.722222
18         Minnesota Wild  82  ...                    Wild  0.633803
19     Colorado Avalanche  82  ...               Avalanche  0.589041
20        St. Louis Blues  82  ...                   Blues  0.578947
21           Dallas Stars  82  ...                   Stars  0.567568
22     Chicago Blackhawks  82  ...              Blackhawks  0.458333
23   Vegas Golden Knights  82  ...          Golden Knights  0.680000
24          Anaheim Ducks  82  ...              KingsDucks  0.637681
25      Los Angeles Kings  82  ...              KingsDucks  0.608108
26        San Jose Sharks  82  ...                  Sharks  0.625000
27         Calgary Flames  82  ...                  Flames  0.513889
28        Edmonton Oilers  82  ...                  Oilers  0.473684
29      Vancouver Canucks  82  ...                 Canucks  0.436620
30        Arizona Coyotes  82  ...                 Coyotes  0.414286

[31 rows x 22 columns]

In [ ]:
regions = combined_df.set_index('Metropolitan area').groupby('Metropolitan area').mean()

In [ ]:
regions.shape

(28, 6)

In [ ]:
regions_nhl = regions[['Population', 'W/L']]
regions_nhl

                        Population       W/L
Metropolitan area
Boston                     4794447  0.714286
Buffalo                    1132804  0.357143
Calgary                    1392609  0.513889
Chicago                    9512999  0.458333
Columbus                   2041520  0.600000
Dallas–Fort Worth          7233323  0.567568
Denver                     2853077  0.589041
Detroit                    4297617  0.434783
Edmonton                   1321426  0.473684
Las Vegas                  2155664  0.680000
Los Angeles               13310447  0.622895
Miami–Fort Lauderdale      6066387  0.594595
Minneapolis–Saint Paul     3551036  0.633803
Montreal                   4098927  0.420290
Nashville                  1865298  0.746479
New York City             20153634  0.518201
Ottawa                     1323783  0.394366
Philadelphia               6070500  0.617647
Phoenix                    4661537  0.414286
Pittsburgh                 2342299  0.618421
Raleigh                    1302946  0.507042
San Francisco Bay Area     6657982  0.625000
St. Louis                  2807002  0.578947
Tampa Bay Area             3032171  0.701299
Toronto                    5928040  0.653333
Vancouver                  2463431  0.436620
Washington, D.C.           6131977  0.653333
Winnipeg                    778489  0.722222

In [ ]:
stats.pearsonr(regions['Population'], regions['W/L'])

(0.012486162921209907, 0.9497182859911791)

In [ ]:
stats.pearsonr( regions['W/L'], regions['Population'])

(0.012486162921209907, 0.9497182859911791)

In [ ]:
nba_df = pd.read_csv('nba.csv')

In [ ]:
nba_df = nba_df[nba_df['year'] == 2018]
nba_df

                           team   W   L  ...    SRS  year League
0          Toronto Raptors* (1)  59  23  ...   7.29  2018    NBA
1           Boston Celtics* (2)  55  27  ...   3.23  2018    NBA
2       Philadelphia 76ers* (3)  52  30  ...    4.3  2018    NBA
3      Cleveland Cavaliers* (4)  50  32  ...   0.59  2018    NBA
4           Indiana Pacers* (5)  48  34  ...   1.18  2018    NBA
5               Miami Heat* (6)  44  38  ...   0.15  2018    NBA
6          Milwaukee Bucks* (7)  44  38  ...  -0.45  2018    NBA
7       Washington Wizards* (8)  43  39  ...   0.53  2018    NBA
8           Detroit Pistons (9)  39  43  ...  -0.26  2018    NBA
9        Charlotte Hornets (10)  36  46  ...   0.07  2018    NBA
10         New York Knicks (11)  29  53  ...  -3.53  2018    NBA
11           Brooklyn Nets (12)  28  54  ...  -3.67  2018    NBA
12           Chicago Bulls (13)  27  55  ...  -6.84  2018    NBA
13           Orlando Magic (14)  25  57  ...  -4.92  2018    NBA
14           Atlanta Hawks (15)  24  58  ...   -5.3  2018    NBA
15         Houston Rockets* (1)  65  17  ...   8.21  2018    NBA
16   Golden State Warriors* (2)  58  24  ...   5.79  2018    NBA
17  Portland Trail Blazers* (3)  49  33  ...    2.6  2018    NBA
18   Oklahoma City Thunder* (4)  48  34  ...   3.42  2018    NBA
19               Utah Jazz* (5)  48  34  ...   4.47  2018    NBA
20    New Orleans Pelicans* (6)  48  34  ...   1.48  2018    NBA
21       San Antonio Spurs* (7)  47  35  ...   2.89  2018    NBA
22  Minnesota Timberwolves* (8)  47  35  ...   2.35  2018    NBA
23           Denver Nuggets (9)  46  36  ...   1.57  2018    NBA
24    Los Angeles Clippers (10)  42  40  ...   0.15  2018    NBA
25      Los Angeles Lakers (11)  35  47  ...  -1.44  2018    NBA
26        Sacramento Kings (12)  27  55  ...   -6.6  2018    NBA
27        Dallas Mavericks (13)  24  58  ...   -2.7  2018    NBA
28       Memphis Grizzlies (14)  22  60  ...  -5.81  2018    NBA
29            Phoenix Suns (15)  21  61  ...   -8.8  2018    NBA

[30 rows x 10 columns]

In [ ]:
nba_df.dtypes

team      object
W         object
L         object
W/L%      object
GB        object
PS/G      object
PA/G      object
SRS       object
year       int64
League    object
dtype: object

In [ ]:
nba_df['W'] = nba_df['W'].astype(int)
nba_df['L'] = nba_df['L'].astype(int)

In [ ]:
import unicodedata

In [ ]:
nba_df.loc[9,'team']
re.sub(r"[* ]*\(\d+\)", "", unicodedata.normalize('NFKD', nba_df.loc[9,'team']))

'Charlotte Hornets'

In [ ]:
unicodedata.normalize('NFKD', nba_df.loc[9,'team'])

'Charlotte Hornets (10)'

In [ ]:
re.sub(r'[* ]*\(\d+\)', '', 'Hell * (12)lo')

'Helllo'

In [ ]:
def clean_teams(row):
  # team_name = row['team']
  team = unicodedata.normalize('NFKD', row['team'])
  row['team'] = re.sub(r"[* ]*\(\d+\)", "", team)
  return row

In [ ]:
nba_df = nba_df.apply(clean_teams, axis=1)

In [ ]:
nba_df

                      team   W   L  ...    SRS  year League
0          Toronto Raptors  59  23  ...   7.29  2018    NBA
1           Boston Celtics  55  27  ...   3.23  2018    NBA
2       Philadelphia 76ers  52  30  ...    4.3  2018    NBA
3      Cleveland Cavaliers  50  32  ...   0.59  2018    NBA
4           Indiana Pacers  48  34  ...   1.18  2018    NBA
5               Miami Heat  44  38  ...   0.15  2018    NBA
6          Milwaukee Bucks  44  38  ...  -0.45  2018    NBA
7       Washington Wizards  43  39  ...   0.53  2018    NBA
8          Detroit Pistons  39  43  ...  -0.26  2018    NBA
9        Charlotte Hornets  36  46  ...   0.07  2018    NBA
10         New York Knicks  29  53  ...  -3.53  2018    NBA
11           Brooklyn Nets  28  54  ...  -3.67  2018    NBA
12           Chicago Bulls  27  55  ...  -6.84  2018    NBA
13           Orlando Magic  25  57  ...  -4.92  2018    NBA
14           Atlanta Hawks  24  58  ...   -5.3  2018    NBA
15         Houston Rockets  65  17  ...   8.21  2018    NBA
16   Golden State Warriors  58  24  ...   5.79  2018    NBA
17  Portland Trail Blazers  49  33  ...    2.6  2018    NBA
18   Oklahoma City Thunder  48  34  ...   3.42  2018    NBA
19               Utah Jazz  48  34  ...   4.47  2018    NBA
20    New Orleans Pelicans  48  34  ...   1.48  2018    NBA
21       San Antonio Spurs  47  35  ...   2.89  2018    NBA
22  Minnesota Timberwolves  47  35  ...   2.35  2018    NBA
23          Denver Nuggets  46  36  ...   1.57  2018    NBA
24    Los Angeles Clippers  42  40  ...   0.15  2018    NBA
25      Los Angeles Lakers  35  47  ...  -1.44  2018    NBA
26        Sacramento Kings  27  55  ...   -6.6  2018    NBA
27        Dallas Mavericks  24  58  ...   -2.7  2018    NBA
28       Memphis Grizzlies  22  60  ...  -5.81  2018    NBA
29            Phoenix Suns  21  61  ...   -8.8  2018    NBA

[30 rows x 10 columns]

In [ ]:
nba_df.drop(nba_df[nba_df['team'].str.endswith('Division')].index, inplace=True)

In [ ]:
region_mapping = {}
def test_run(row):
  teams = row['NBA']
  if isinstance(teams, str):
    res = re.findall(r'([A-Z]{1,1}[a-z]+)', teams)
    if res:
      for team in res:
        region_mapping[team] = row['Metropolitan area']
    else:
      region_mapping[teams] = row['Metropolitan area']
  return row

In [ ]:
cities.apply(test_run,axis='columns')

         Metropolitan area  Population  ...             NBA                     NHL
0            New York City    20153634  ...      KnicksNets  RangersIslandersDevils
1              Los Angeles    13310447  ...  LakersClippers              KingsDucks
2                  Chicago     9512999  ...           Bulls              Blackhawks
3   San Francisco Bay Area     6657982  ...        Warriors                  Sharks
4        Dallas–Fort Worth     7233323  ...       Mavericks                   Stars
5         Washington, D.C.     6131977  ...         Wizards                Capitals
6             Philadelphia     6070500  ...           76ers                  Flyers
7    Miami–Fort Lauderdale     6066387  ...            Heat                Panthers
8                   Boston     4794447  ...         Celtics                  Bruins
9   Minneapolis–Saint Paul     3551036  ...    Timberwolves                    Wild
10                  Denver     2853077  ...         Nuggets               Avalanche
11                 Phoenix     4661537  ...            Suns                 Coyotes
12                 Detroit     4297617  ...         Pistons               Red Wings
13                 Toronto     5928040  ...         Raptors             Maple Leafs
14                 Houston     6772470  ...         Rockets                       —
15                 Atlanta     5789700  ...           Hawks                     NaN
16                 Seattle     3798902  ...             NaN                  Kraken
17          Tampa Bay Area     3032171  ...             NaN               Lightning
18              Pittsburgh     2342299  ...             NaN                Penguins
19               Cleveland     2055612  ...       Cavaliers                     NaN
20              Cincinnati     2165139  ...             NaN                       —
21             Kansas City     2104509  ...             NaN                     NaN
22               Nashville     1865298  ...               —               Predators
23               St. Louis     2807002  ...             NaN                   Blues
24               Baltimore     2798886  ...             NaN                       —
25               Charlotte     2474314  ...         Hornets                       —
26               Las Vegas     2155664  ...             NaN          Golden Knights
27            Indianapolis     2004230  ...          Pacers                       —
28               Milwaukee     1572482  ...           Bucks                       —
29             New Orleans     1268883  ...        Pelicans                       —
30                 Buffalo     1132804  ...             NaN                  Sabres
31                Montreal     4098927  ...               —               Canadiens
32               Vancouver     2463431  ...             NaN                 Canucks
33                 Orlando     2441257  ...           Magic                       —
34                Portland     2424955  ...   Trail Blazers                       —
35                Columbus     2041520  ...               —            Blue Jackets
36                 Calgary     1392609  ...               —                  Flames
37                  Ottawa     1323783  ...               —                Senators
38                Edmonton     1321426  ...               —                  Oilers
39          Salt Lake City     1186187  ...            Jazz                       —
40                Winnipeg      778489  ...               —                    Jets
41               San Diego     3317749  ...             NaN                       —
42             San Antonio     2429609  ...           Spurs                       —
43              Sacramento     2296418  ...           Kings                       —
44            Jacksonville     1478212  ...               —                       —
45           Oklahoma City     1373211  ...         Thunder                       —
46                 Memphis     1342842  ...       Grizzlies                       —
47                 Raleigh     1302946  ...               —              Hurricanes
48               Green Bay      318236  ...               —                       —
49                  Austin     2227083  ...               —                       —
50                Hamilton      747545  ...               —                     NaN
51                  Regina      236481  ...               —                       —

[52 rows x 6 columns]

In [ ]:
len(region_mapping)

32

In [ ]:
['first'][-1]

'first'

In [ ]:
def create_region(row):
    names = row['team'].split()
    if names[-1] in region_mapping:
        return region_mapping[names[-1]]

In [ ]:
nba_df['Metropolitan area'] = nba_df.apply(create_region, axis=1)

In [ ]:
nba_df

                      team   W   L  ...  year League       Metropolitan area
0          Toronto Raptors  59  23  ...  2018    NBA                 Toronto
1           Boston Celtics  55  27  ...  2018    NBA                  Boston
2       Philadelphia 76ers  52  30  ...  2018    NBA            Philadelphia
3      Cleveland Cavaliers  50  32  ...  2018    NBA               Cleveland
4           Indiana Pacers  48  34  ...  2018    NBA            Indianapolis
5               Miami Heat  44  38  ...  2018    NBA   Miami–Fort Lauderdale
6          Milwaukee Bucks  44  38  ...  2018    NBA               Milwaukee
7       Washington Wizards  43  39  ...  2018    NBA        Washington, D.C.
8          Detroit Pistons  39  43  ...  2018    NBA                 Detroit
9        Charlotte Hornets  36  46  ...  2018    NBA               Charlotte
10         New York Knicks  29  53  ...  2018    NBA           New York City
11           Brooklyn Nets  28  54  ...  2018    NBA           New York City
12           Chicago Bulls  27  55  ...  2018    NBA                 Chicago
13           Orlando Magic  25  57  ...  2018    NBA                 Orlando
14           Atlanta Hawks  24  58  ...  2018    NBA                 Atlanta
15         Houston Rockets  65  17  ...  2018    NBA                 Houston
16   Golden State Warriors  58  24  ...  2018    NBA  San Francisco Bay Area
17  Portland Trail Blazers  49  33  ...  2018    NBA                Portland
18   Oklahoma City Thunder  48  34  ...  2018    NBA           Oklahoma City
19               Utah Jazz  48  34  ...  2018    NBA          Salt Lake City
20    New Orleans Pelicans  48  34  ...  2018    NBA             New Orleans
21       San Antonio Spurs  47  35  ...  2018    NBA             San Antonio
22  Minnesota Timberwolves  47  35  ...  2018    NBA  Minneapolis–Saint Paul
23          Denver Nuggets  46  36  ...  2018    NBA                  Denver
24    Los Angeles Clippers  42  40  ...  2018    NBA             Los Angeles
25      Los Angeles Lakers  35  47  ...  2018    NBA             Los Angeles
26        Sacramento Kings  27  55  ...  2018    NBA              Sacramento
27        Dallas Mavericks  24  58  ...  2018    NBA       Dallas–Fort Worth
28       Memphis Grizzlies  22  60  ...  2018    NBA                 Memphis
29            Phoenix Suns  21  61  ...  2018    NBA                 Phoenix

[30 rows x 11 columns]

In [ ]:
combined_df = pd.merge(cities, nba_df, how='inner', left_on='Metropolitan area', right_on='Metropolitan area')

In [ ]:
combined_df.dtypes

Metropolitan area    object
Population            int64
NFL                  object
MLB                  object
NBA                  object
NHL                  object
team                 object
W                     int64
L                     int64
W/L%                 object
GB                   object
PS/G                 object
PA/G                 object
SRS                  object
year                  int64
League               object
dtype: object

In [ ]:
combined_df['W/l'] = combined_df['W'] / (combined_df['W'] + combined_df['L'])
cols = ['Metropolitan area', 'Population', 'W', 'L','W/l']
combined_df = combined_df[cols]

In [ ]:
combined_df

         Metropolitan area  Population   W   L       W/l
0            New York City    20153634  29  53  0.353659
1            New York City    20153634  28  54  0.341463
2              Los Angeles    13310447  42  40  0.512195
3              Los Angeles    13310447  35  47  0.426829
4                  Chicago     9512999  27  55  0.329268
5   San Francisco Bay Area     6657982  58  24  0.707317
6        Dallas–Fort Worth     7233323  24  58  0.292683
7         Washington, D.C.     6131977  43  39  0.524390
8             Philadelphia     6070500  52  30  0.634146
9    Miami–Fort Lauderdale     6066387  44  38  0.536585
10                  Boston     4794447  55  27  0.670732
11  Minneapolis–Saint Paul     3551036  47  35  0.573171
12                  Denver     2853077  46  36  0.560976
13                 Phoenix     4661537  21  61  0.256098
14                 Detroit     4297617  39  43  0.475610
15                 Toronto     5928040  59  23  0.719512
16                 Houston     6772470  65  17  0.792683
17                 Atlanta     5789700  24  58  0.292683
18               Cleveland     2055612  50  32  0.609756
19               Charlotte     2474314  36  46  0.439024
20            Indianapolis     2004230  48  34  0.585366
21               Milwaukee     1572482  44  38  0.536585
22             New Orleans     1268883  48  34  0.585366
23                 Orlando     2441257  25  57  0.304878
24                Portland     2424955  49  33  0.597561
25          Salt Lake City     1186187  48  34  0.585366
26             San Antonio     2429609  47  35  0.573171
27              Sacramento     2296418  27  55  0.329268
28           Oklahoma City     1373211  48  34  0.585366
29                 Memphis     1342842  22  60  0.268293

In [ ]:
regions_nba = combined_df.groupby('Metropolitan area').agg({'W/l': np.nanmean, 'Population': np.nanmean})

In [ ]:
regions_nba

                             W/l  Population
Metropolitan area
Atlanta                 0.292683     5789700
Boston                  0.670732     4794447
Charlotte               0.439024     2474314
Chicago                 0.329268     9512999
Cleveland               0.609756     2055612
Dallas–Fort Worth       0.292683     7233323
Denver                  0.560976     2853077
Detroit                 0.475610     4297617
Houston                 0.792683     6772470
Indianapolis            0.585366     2004230
Los Angeles             0.469512    13310447
Memphis                 0.268293     1342842
Miami–Fort Lauderdale   0.536585     6066387
Milwaukee               0.536585     1572482
Minneapolis–Saint Paul  0.573171     3551036
New Orleans             0.585366     1268883
New York City           0.347561    20153634
Oklahoma City           0.585366     1373211
Orlando                 0.304878     2441257
Philadelphia            0.634146     6070500
Phoenix                 0.256098     4661537
Portland                0.597561     2424955
Sacramento              0.329268     2296418
Salt Lake City          0.585366     1186187
San Antonio             0.573171     2429609
San Francisco Bay Area  0.707317     6657982
Toronto                 0.719512     5928040
Washington, D.C.        0.524390     6131977

In [ ]:
regions.shape

(28, 2)

In [ ]:
stats.pearsonr(regions['Population'], regions['W/l'])

(-0.17657160252844617, 0.36874741604463)

In [ ]:
mlb_df = pd.read_csv('mlb.csv')
mlb_df = mlb_df[mlb_df['year'] == 2018]
mlb_df

                     team    W    L   W-L%    GB  year League
0          Boston Red Sox  108   54  0.667    --  2018    MLB
1        New York Yankees  100   62  0.617   8.0  2018    MLB
2          Tampa Bay Rays   90   72  0.556  18.0  2018    MLB
3       Toronto Blue Jays   73   89  0.451  35.0  2018    MLB
4       Baltimore Orioles   47  115  0.290  61.0  2018    MLB
5       Cleveland Indians   91   71  0.562    --  2018    MLB
6         Minnesota Twins   78   84  0.481  13.0  2018    MLB
7          Detroit Tigers   64   98  0.395  27.0  2018    MLB
8       Chicago White Sox   62  100  0.383  29.0  2018    MLB
9      Kansas City Royals   58  104  0.358  33.0  2018    MLB
10         Houston Astros  103   59  0.636    --  2018    MLB
11      Oakland Athletics   97   65  0.599   6.0  2018    MLB
12       Seattle Mariners   89   73  0.549  14.0  2018    MLB
13     Los Angeles Angels   80   82  0.494  23.0  2018    MLB
14          Texas Rangers   67   95  0.414  36.0  2018    MLB
15         Atlanta Braves   90   72  0.556    --  2018    MLB
16   Washington Nationals   82   80  0.506   8.0  2018    MLB
17  Philadelphia Phillies   80   82  0.494  10.0  2018    MLB
18          New York Mets   77   85  0.475  13.0  2018    MLB
19          Miami Marlins   63   98  0.391  26.5  2018    MLB
20      Milwaukee Brewers   96   67  0.589    --  2018    MLB
21           Chicago Cubs   95   68  0.583   1.0  2018    MLB
22    St. Louis Cardinals   88   74  0.543   7.5  2018    MLB
23     Pittsburgh Pirates   82   79  0.509  13.0  2018    MLB
24        Cincinnati Reds   67   95  0.414  28.5  2018    MLB
25    Los Angeles Dodgers   92   71  0.564    --  2018    MLB
26       Colorado Rockies   91   72  0.558   1.0  2018    MLB
27   Arizona Diamondbacks   82   80  0.506   9.5  2018    MLB
28   San Francisco Giants   73   89  0.451  18.5  2018    MLB
29       San Diego Padres   66   96  0.407  25.5  2018    MLB

In [ ]:
mlb_df.dtypes

team       object
W           int64
L           int64
W-L%      float64
GB         object
year        int64
League     object
dtype: object

In [ ]:
region_mapping = {}
def test_run(row):
  teams = row['MLB']
  if isinstance(teams, str):
    res = re.findall(r'([A-Z]{1,1}[a-z]+)', teams)
    if res:
      for team in res:
        region_mapping[team] = row['Metropolitan area']
    else:
      region_mapping[teams] = row['Metropolitan area']
  return row

In [ ]:
cities.apply(test_run, axis=1)

         Metropolitan area  Population  ...             NBA                     NHL
0            New York City    20153634  ...      KnicksNets  RangersIslandersDevils
1              Los Angeles    13310447  ...  LakersClippers              KingsDucks
2                  Chicago     9512999  ...           Bulls              Blackhawks
3   San Francisco Bay Area     6657982  ...        Warriors                  Sharks
4        Dallas–Fort Worth     7233323  ...       Mavericks                   Stars
5         Washington, D.C.     6131977  ...         Wizards                Capitals
6             Philadelphia     6070500  ...           76ers                  Flyers
7    Miami–Fort Lauderdale     6066387  ...            Heat                Panthers
8                   Boston     4794447  ...         Celtics                  Bruins
9   Minneapolis–Saint Paul     3551036  ...    Timberwolves                    Wild
10                  Denver     2853077  ...         Nuggets               Avalanche
11                 Phoenix     4661537  ...            Suns                 Coyotes
12                 Detroit     4297617  ...         Pistons               Red Wings
13                 Toronto     5928040  ...         Raptors             Maple Leafs
14                 Houston     6772470  ...         Rockets                       —
15                 Atlanta     5789700  ...           Hawks                     NaN
16                 Seattle     3798902  ...             NaN                  Kraken
17          Tampa Bay Area     3032171  ...             NaN               Lightning
18              Pittsburgh     2342299  ...             NaN                Penguins
19               Cleveland     2055612  ...       Cavaliers                     NaN
20              Cincinnati     2165139  ...             NaN                       —
21             Kansas City     2104509  ...             NaN                     NaN
22               Nashville     1865298  ...               —               Predators
23               St. Louis     2807002  ...             NaN                   Blues
24               Baltimore     2798886  ...             NaN                       —
25               Charlotte     2474314  ...         Hornets                       —
26               Las Vegas     2155664  ...             NaN          Golden Knights
27            Indianapolis     2004230  ...          Pacers                       —
28               Milwaukee     1572482  ...           Bucks                       —
29             New Orleans     1268883  ...        Pelicans                       —
30                 Buffalo     1132804  ...             NaN                  Sabres
31                Montreal     4098927  ...               —               Canadiens
32               Vancouver     2463431  ...             NaN                 Canucks
33                 Orlando     2441257  ...           Magic                       —
34                Portland     2424955  ...   Trail Blazers                       —
35                Columbus     2041520  ...               —            Blue Jackets
36                 Calgary     1392609  ...               —                  Flames
37                  Ottawa     1323783  ...               —                Senators
38                Edmonton     1321426  ...               —                  Oilers
39          Salt Lake City     1186187  ...            Jazz                       —
40                Winnipeg      778489  ...               —                    Jets
41               San Diego     3317749  ...             NaN                       —
42             San Antonio     2429609  ...           Spurs                       —
43              Sacramento     2296418  ...           Kings                       —
44            Jacksonville     1478212  ...               —                       —
45           Oklahoma City     1373211  ...         Thunder                       —
46                 Memphis     1342842  ...       Grizzlies                       —
47                 Raleigh     1302946  ...               —              Hurricanes
48               Green Bay      318236  ...               —                       —
49                  Austin     2227083  ...               —                       —
50                Hamilton      747545  ...               —                     NaN
51                  Regina      236481  ...               —                       —

[52 rows x 6 columns]

In [ ]:
region_mapping

{'Angels': 'Los Angeles',
 'Astros': 'Houston',
 'Athletics': 'San Francisco Bay Area',
 'Blue': 'Toronto',
 'Braves': 'Atlanta',
 'Brewers': 'Milwaukee',
 'Cardinals': 'St. Louis',
 'Cubs': 'Chicago',
 'Diamondbacks': 'Phoenix',
 'Dodgers': 'Los Angeles',
 'Giants': 'San Francisco Bay Area',
 'Indians': 'Cleveland',
 'Jays': 'Toronto',
 'Mariners': 'Seattle',
 'Marlins': 'Miami–Fort Lauderdale',
 'Mets': 'New York City',
 'Nationals': 'Washington, D.C.',
 'Orioles': 'Baltimore',
 'Padres': 'San Diego',
 'Phillies': 'Philadelphia',
 'Pirates': 'Pittsburgh',
 'Rangers': 'Dallas–Fort Worth',
 'Rays': 'Tampa Bay Area',
 'Red': 'Boston',
 'Reds': 'Cincinnati',
 'Rockies': 'Denver',
 'Royals': 'Kansas City',
 'Sox': 'Boston',
 'Tigers': 'Detroit',
 'Twins': 'Minneapolis–Saint Paul',
 'White': 'Chicago',
 'Yankees': 'New York City',
 '—': 'Regina'}

In [ ]:
def create_region(row):
    names = row['team'].split()
    if names[-1] in region_mapping:
        if 'Sox' in names:
            return region_mapping[names[-2]]
            
        return region_mapping[names[-1]]

mlb_df['Metropolitan area'] = mlb_df.apply(create_region, axis=1)

In [ ]:
mlb_df

                     team    W    L  ...  year League       Metropolitan area
0          Boston Red Sox  108   54  ...  2018    MLB                  Boston
1        New York Yankees  100   62  ...  2018    MLB           New York City
2          Tampa Bay Rays   90   72  ...  2018    MLB          Tampa Bay Area
3       Toronto Blue Jays   73   89  ...  2018    MLB                 Toronto
4       Baltimore Orioles   47  115  ...  2018    MLB               Baltimore
5       Cleveland Indians   91   71  ...  2018    MLB               Cleveland
6         Minnesota Twins   78   84  ...  2018    MLB  Minneapolis–Saint Paul
7          Detroit Tigers   64   98  ...  2018    MLB                 Detroit
8       Chicago White Sox   62  100  ...  2018    MLB                 Chicago
9      Kansas City Royals   58  104  ...  2018    MLB             Kansas City
10         Houston Astros  103   59  ...  2018    MLB                 Houston
11      Oakland Athletics   97   65  ...  2018    MLB  San Francisco Bay Area
12       Seattle Mariners   89   73  ...  2018    MLB                 Seattle
13     Los Angeles Angels   80   82  ...  2018    MLB             Los Angeles
14          Texas Rangers   67   95  ...  2018    MLB       Dallas–Fort Worth
15         Atlanta Braves   90   72  ...  2018    MLB                 Atlanta
16   Washington Nationals   82   80  ...  2018    MLB        Washington, D.C.
17  Philadelphia Phillies   80   82  ...  2018    MLB            Philadelphia
18          New York Mets   77   85  ...  2018    MLB           New York City
19          Miami Marlins   63   98  ...  2018    MLB   Miami–Fort Lauderdale
20      Milwaukee Brewers   96   67  ...  2018    MLB               Milwaukee
21           Chicago Cubs   95   68  ...  2018    MLB                 Chicago
22    St. Louis Cardinals   88   74  ...  2018    MLB               St. Louis
23     Pittsburgh Pirates   82   79  ...  2018    MLB              Pittsburgh
24        Cincinnati Reds   67   95  ...  2018    MLB              Cincinnati
25    Los Angeles Dodgers   92   71  ...  2018    MLB             Los Angeles
26       Colorado Rockies   91   72  ...  2018    MLB                  Denver
27   Arizona Diamondbacks   82   80  ...  2018    MLB                 Phoenix
28   San Francisco Giants   73   89  ...  2018    MLB  San Francisco Bay Area
29       San Diego Padres   66   96  ...  2018    MLB               San Diego

[30 rows x 8 columns]

In [ ]:
mlb_df['W/L'] = mlb_df['W'] / (mlb_df['W'] + mlb_df['L'])

In [ ]:
combined_df = pd.merge(cities, mlb_df, how='inner', left_on='Metropolitan area', right_on='Metropolitan area')

In [ ]:
regions_mlb = combined_df.groupby('Metropolitan area').mean()
regions_mlb

                        Population      W      L   W-L%    year       W/L
Metropolitan area
Atlanta                  5789700.0   90.0   72.0  0.556  2018.0  0.555556
Baltimore                2798886.0   47.0  115.0  0.290  2018.0  0.290123
Boston                   4794447.0  108.0   54.0  0.667  2018.0  0.666667
Chicago                  9512999.0   78.5   84.0  0.483  2018.0  0.482769
Cincinnati               2165139.0   67.0   95.0  0.414  2018.0  0.413580
Cleveland                2055612.0   91.0   71.0  0.562  2018.0  0.561728
Dallas–Fort Worth        7233323.0   67.0   95.0  0.414  2018.0  0.413580
Denver                   2853077.0   91.0   72.0  0.558  2018.0  0.558282
Detroit                  4297617.0   64.0   98.0  0.395  2018.0  0.395062
Houston                  6772470.0  103.0   59.0  0.636  2018.0  0.635802
Kansas City              2104509.0   58.0  104.0  0.358  2018.0  0.358025
Los Angeles             13310447.0   86.0   76.5  0.529  2018.0  0.529122
Miami–Fort Lauderdale    6066387.0   63.0   98.0  0.391  2018.0  0.391304
Milwaukee                1572482.0   96.0   67.0  0.589  2018.0  0.588957
Minneapolis–Saint Paul   3551036.0   78.0   84.0  0.481  2018.0  0.481481
New York City           20153634.0   88.5   73.5  0.546  2018.0  0.546296
Philadelphia             6070500.0   80.0   82.0  0.494  2018.0  0.493827
Phoenix                  4661537.0   82.0   80.0  0.506  2018.0  0.506173
Pittsburgh               2342299.0   82.0   79.0  0.509  2018.0  0.509317
San Diego                3317749.0   66.0   96.0  0.407  2018.0  0.407407
San Francisco Bay Area   6657982.0   85.0   77.0  0.525  2018.0  0.524691
Seattle                  3798902.0   89.0   73.0  0.549  2018.0  0.549383
St. Louis                2807002.0   88.0   74.0  0.543  2018.0  0.543210
Tampa Bay Area           3032171.0   90.0   72.0  0.556  2018.0  0.555556
Toronto                  5928040.0   73.0   89.0  0.451  2018.0  0.450617
Washington, D.C.         6131977.0   82.0   80.0  0.506  2018.0  0.506173

In [ ]:
stats.pearsonr(regions['Population'], regions['W/L'])

(0.15027698302669307, 0.46370703378875583)

In [ ]:
nfl_df = pd.read_csv('nfl.csv')
nfl_df.dtypes

DSRS      object
L         object
League    object
MoV       object
OSRS      object
PA        object
PD        object
PF        object
SRS       object
SoS       object
T         object
W         object
W-L%      object
team      object
year       int64
dtype: object

In [ ]:
nfl_df = nfl_df[nfl_df['year'] == 2018]
cols = ['L', 'W', 'T', 'team', 'year']
nfl_df = nfl_df[cols]

In [ ]:
mask = nfl_df['W'].str.isdigit()
nfl_df = nfl_df[mask]

In [ ]:
nfl_df['team'] = nfl_df['team'].str.replace('*', '').str.replace('+', '')

In [ ]:
nfl_df

     L   W  T                  team  year
1    5  11  0  New England Patriots  2018
2    9   7  0        Miami Dolphins  2018
3   10   6  0         Buffalo Bills  2018
4   12   4  0         New York Jets  2018
6    6  10  0      Baltimore Ravens  2018
7    6   9  1   Pittsburgh Steelers  2018
8    8   7  1      Cleveland Browns  2018
9   10   6  0    Cincinnati Bengals  2018
11   5  11  0        Houston Texans  2018
12   6  10  0    Indianapolis Colts  2018
13   7   9  0      Tennessee Titans  2018
14  11   5  0  Jacksonville Jaguars  2018
16   4  12  0    Kansas City Chiefs  2018
17   4  12  0  Los Angeles Chargers  2018
18  10   6  0        Denver Broncos  2018
19  12   4  0       Oakland Raiders  2018
21   6  10  0        Dallas Cowboys  2018
22   7   9  0   Philadelphia Eagles  2018
23   9   7  0   Washington Redskins  2018
24  11   5  0       New York Giants  2018
26   4  12  0         Chicago Bears  2018
27   7   8  1     Minnesota Vikings  2018
28   9   6  1     Green Bay Packers  2018
29  10   6  0         Detroit Lions  2018
31   3  13  0    New Orleans Saints  2018
32   9   7  0     Carolina Panthers  2018
33   9   7  0       Atlanta Falcons  2018
34  11   5  0  Tampa Bay Buccaneers  2018
36   3  13  0      Los Angeles Rams  2018
37   6  10  0      Seattle Seahawks  2018
38  12   4  0   San Francisco 49ers  2018
39  13   3  0     Arizona Cardinals  2018

In [ ]:
region_mapping = {}
def test_run(row):
    teams = row['NFL']
    if isinstance(teams, str):
        res = re.findall(r'([A-Z]{1,1}[a-z]+)', teams)
        if res:
            for team in res:
                region_mapping[team] = row['Metropolitan area']
        else:
            region_mapping[teams] = row['Metropolitan area']
    return row

In [ ]:
cities.apply(test_run, axis=1)

         Metropolitan area  Population  ...             NBA                     NHL
0            New York City    20153634  ...      KnicksNets  RangersIslandersDevils
1              Los Angeles    13310447  ...  LakersClippers              KingsDucks
2                  Chicago     9512999  ...           Bulls              Blackhawks
3   San Francisco Bay Area     6657982  ...        Warriors                  Sharks
4        Dallas–Fort Worth     7233323  ...       Mavericks                   Stars
5         Washington, D.C.     6131977  ...         Wizards                Capitals
6             Philadelphia     6070500  ...           76ers                  Flyers
7    Miami–Fort Lauderdale     6066387  ...            Heat                Panthers
8                   Boston     4794447  ...         Celtics                  Bruins
9   Minneapolis–Saint Paul     3551036  ...    Timberwolves                    Wild
10                  Denver     2853077  ...         Nuggets               Avalanche
11                 Phoenix     4661537  ...            Suns                 Coyotes
12                 Detroit     4297617  ...         Pistons               Red Wings
13                 Toronto     5928040  ...         Raptors             Maple Leafs
14                 Houston     6772470  ...         Rockets                       —
15                 Atlanta     5789700  ...           Hawks                     NaN
16                 Seattle     3798902  ...             NaN                  Kraken
17          Tampa Bay Area     3032171  ...             NaN               Lightning
18              Pittsburgh     2342299  ...             NaN                Penguins
19               Cleveland     2055612  ...       Cavaliers                     NaN
20              Cincinnati     2165139  ...             NaN                       —
21             Kansas City     2104509  ...             NaN                     NaN
22               Nashville     1865298  ...               —               Predators
23               St. Louis     2807002  ...             NaN                   Blues
24               Baltimore     2798886  ...             NaN                       —
25               Charlotte     2474314  ...         Hornets                       —
26               Las Vegas     2155664  ...             NaN          Golden Knights
27            Indianapolis     2004230  ...          Pacers                       —
28               Milwaukee     1572482  ...           Bucks                       —
29             New Orleans     1268883  ...        Pelicans                       —
30                 Buffalo     1132804  ...             NaN                  Sabres
31                Montreal     4098927  ...               —               Canadiens
32               Vancouver     2463431  ...             NaN                 Canucks
33                 Orlando     2441257  ...           Magic                       —
34                Portland     2424955  ...   Trail Blazers                       —
35                Columbus     2041520  ...               —            Blue Jackets
36                 Calgary     1392609  ...               —                  Flames
37                  Ottawa     1323783  ...               —                Senators
38                Edmonton     1321426  ...               —                  Oilers
39          Salt Lake City     1186187  ...            Jazz                       —
40                Winnipeg      778489  ...               —                    Jets
41               San Diego     3317749  ...             NaN                       —
42             San Antonio     2429609  ...           Spurs                       —
43              Sacramento     2296418  ...           Kings                       —
44            Jacksonville     1478212  ...               —                       —
45           Oklahoma City     1373211  ...         Thunder                       —
46                 Memphis     1342842  ...       Grizzlies                       —
47                 Raleigh     1302946  ...               —              Hurricanes
48               Green Bay      318236  ...               —                       —
49                  Austin     2227083  ...               —                       —
50                Hamilton      747545  ...               —                     NaN
51                  Regina      236481  ...               —                       —

[52 rows x 6 columns]

In [ ]:
len(region_mapping), region_mapping

(36,
 {'49ers': 'San Francisco Bay Area',
  'Bears': 'Chicago',
  'Bengals': 'Cincinnati',
  'Bills': 'Buffalo',
  'Broncos': 'Denver',
  'Browns': 'Cleveland',
  'Buccaneers': 'Tampa Bay Area',
  'Cardinals': 'Phoenix',
  'Chargers': 'Los Angeles',
  'Chiefs': 'Kansas City',
  'Colts': 'Indianapolis',
  'Cowboys': 'Dallas–Fort Worth',
  'Dolphins': 'Miami–Fort Lauderdale',
  'Eagles': 'Philadelphia',
  'Falcons': 'Atlanta',
  'Football': 'Washington, D.C.',
  'Giants': 'New York City',
  'Jaguars': 'Jacksonville',
  'Jets': 'New York City',
  'Lions': 'Detroit',
  'Packers': 'Green Bay',
  'Panthers': 'Charlotte',
  'Patriots': 'Boston',
  'Raiders': 'Las Vegas',
  'Rams': 'Los Angeles',
  'Ravens': 'Baltimore',
  'Saints': 'New Orleans',
  'Seahawks': 'Seattle',
  'Steelers': 'Pittsburgh',
  'Team': 'Washington, D.C.',
  'Texans': 'Houston',
  'Titans': 'Nashville',
  'Vikings': 'Minneapolis–Saint Paul',
  'Washington': 'Washington, D.C.',
  '—': 'Regina',
  '— ': 'Toronto'})

In [ ]:
def create_region(row):
    names = row['team'].split()
    if names[-1] in region_mapping:
        return region_mapping[names[-1]]

In [ ]:
nfl_df['Metropolitan area'] = nfl_df.apply(create_region, axis=1)

In [ ]:
nfl_df

     L   W  T                  team  year       Metropolitan area
1    5  11  0  New England Patriots  2018                  Boston
2    9   7  0        Miami Dolphins  2018   Miami–Fort Lauderdale
3   10   6  0         Buffalo Bills  2018                 Buffalo
4   12   4  0         New York Jets  2018           New York City
6    6  10  0      Baltimore Ravens  2018               Baltimore
7    6   9  1   Pittsburgh Steelers  2018              Pittsburgh
8    8   7  1      Cleveland Browns  2018               Cleveland
9   10   6  0    Cincinnati Bengals  2018              Cincinnati
11   5  11  0        Houston Texans  2018                 Houston
12   6  10  0    Indianapolis Colts  2018            Indianapolis
13   7   9  0      Tennessee Titans  2018               Nashville
14  11   5  0  Jacksonville Jaguars  2018            Jacksonville
16   4  12  0    Kansas City Chiefs  2018             Kansas City
17   4  12  0  Los Angeles Chargers  2018             Los Angeles
18  10   6  0        Denver Broncos  2018                  Denver
19  12   4  0       Oakland Raiders  2018               Las Vegas
21   6  10  0        Dallas Cowboys  2018       Dallas–Fort Worth
22   7   9  0   Philadelphia Eagles  2018            Philadelphia
23   9   7  0   Washington Redskins  2018                    None
24  11   5  0       New York Giants  2018           New York City
26   4  12  0         Chicago Bears  2018                 Chicago
27   7   8  1     Minnesota Vikings  2018  Minneapolis–Saint Paul
28   9   6  1     Green Bay Packers  2018               Green Bay
29  10   6  0         Detroit Lions  2018                 Detroit
31   3  13  0    New Orleans Saints  2018             New Orleans
32   9   7  0     Carolina Panthers  2018               Charlotte
33   9   7  0       Atlanta Falcons  2018                 Atlanta
34  11   5  0  Tampa Bay Buccaneers  2018          Tampa Bay Area
36   3  13  0      Los Angeles Rams  2018             Los Angeles
37   6  10  0      Seattle Seahawks  2018                 Seattle
38  12   4  0   San Francisco 49ers  2018  San Francisco Bay Area
39  13   3  0     Arizona Cardinals  2018                 Phoenix

In [ ]:
nfl_df = nfl_df.astype({'W': int, 'L': int})

In [ ]:
nfl_df['W/L'] = nfl_df['W'] / (nfl_df['W'] + nfl_df['L'])

In [ ]:
nfl_df

     L   W  T                  team  year       Metropolitan area       W/L
1    5  11  0  New England Patriots  2018                  Boston  0.687500
2    9   7  0        Miami Dolphins  2018   Miami–Fort Lauderdale  0.437500
3   10   6  0         Buffalo Bills  2018                 Buffalo  0.375000
4   12   4  0         New York Jets  2018           New York City  0.250000
6    6  10  0      Baltimore Ravens  2018               Baltimore  0.625000
7    6   9  1   Pittsburgh Steelers  2018              Pittsburgh  0.600000
8    8   7  1      Cleveland Browns  2018               Cleveland  0.466667
9   10   6  0    Cincinnati Bengals  2018              Cincinnati  0.375000
11   5  11  0        Houston Texans  2018                 Houston  0.687500
12   6  10  0    Indianapolis Colts  2018            Indianapolis  0.625000
13   7   9  0      Tennessee Titans  2018               Nashville  0.562500
14  11   5  0  Jacksonville Jaguars  2018            Jacksonville  0.312500
16   4  12  0    Kansas City Chiefs  2018             Kansas City  0.750000
17   4  12  0  Los Angeles Chargers  2018             Los Angeles  0.750000
18  10   6  0        Denver Broncos  2018                  Denver  0.375000
19  12   4  0       Oakland Raiders  2018               Las Vegas  0.250000
21   6  10  0        Dallas Cowboys  2018       Dallas–Fort Worth  0.625000
22   7   9  0   Philadelphia Eagles  2018            Philadelphia  0.562500
23   9   7  0   Washington Redskins  2018                    None  0.437500
24  11   5  0       New York Giants  2018           New York City  0.312500
26   4  12  0         Chicago Bears  2018                 Chicago  0.750000
27   7   8  1     Minnesota Vikings  2018  Minneapolis–Saint Paul  0.533333
28   9   6  1     Green Bay Packers  2018               Green Bay  0.400000
29  10   6  0         Detroit Lions  2018                 Detroit  0.375000
31   3  13  0    New Orleans Saints  2018             New Orleans  0.812500
32   9   7  0     Carolina Panthers  2018               Charlotte  0.437500
33   9   7  0       Atlanta Falcons  2018                 Atlanta  0.437500
34  11   5  0  Tampa Bay Buccaneers  2018          Tampa Bay Area  0.312500
36   3  13  0      Los Angeles Rams  2018             Los Angeles  0.812500
37   6  10  0      Seattle Seahawks  2018                 Seattle  0.625000
38  12   4  0   San Francisco 49ers  2018  San Francisco Bay Area  0.250000
39  13   3  0     Arizona Cardinals  2018                 Phoenix  0.187500

In [ ]:
combined_df = pd.merge(cities, nfl_df, how='inner', left_on='Metropolitan area', right_on='Metropolitan area')
regions_nfl = combined_df.groupby('Metropolitan area').mean()

In [ ]:
regions.shape

(29, 5)

In [ ]:
stats.ttest_ind(regions_mlb['W/L'], regions_nba['W/l'])

Ttest_indResult(statistic=-0.28977561697971094, pvalue=0.7731402515923593)

In [ ]:
stats.ttest_ind(regions_mlb['W/L'], regions_nfl['W/L'])

Ttest_indResult(statistic=-0.08555798894283681, pvalue=0.9321401908478187)

In [ ]:
region_nfl_nba = pd.merge(regions_nfl, regions_nba, how='inner', on='Metropolitan area')
region_nfl_nba

                        Population_x     L  ...       W/l  Population_y
Metropolitan area                           ...
Atlanta                    5789700.0   9.0  ...  0.292683       5789700
Boston                     4794447.0   5.0  ...  0.670732       4794447
Charlotte                  2474314.0   9.0  ...  0.439024       2474314
Chicago                    9512999.0   4.0  ...  0.329268       9512999
Cleveland                  2055612.0   8.0  ...  0.609756       2055612
Dallas–Fort Worth          7233323.0   6.0  ...  0.292683       7233323
Denver                     2853077.0  10.0  ...  0.560976       2853077
Detroit                    4297617.0  10.0  ...  0.475610       4297617
Houston                    6772470.0   5.0  ...  0.792683       6772470
Indianapolis               2004230.0   6.0  ...  0.585366       2004230
Los Angeles               13310447.0   3.5  ...  0.469512      13310447
Miami–Fort Lauderdale      6066387.0   9.0  ...  0.536585       6066387
Minneapolis–Saint Paul     3551036.0   7.0  ...  0.573171       3551036
New Orleans                1268883.0   3.0  ...  0.585366       1268883
New York City             20153634.0  11.5  ...  0.347561      20153634
Philadelphia               6070500.0   7.0  ...  0.634146       6070500
Phoenix                    4661537.0  13.0  ...  0.256098       4661537
San Francisco Bay Area     6657982.0  12.0  ...  0.707317       6657982

[18 rows x 7 columns]

In [ ]:
stats.ttest_ind(region_nfl_nba['W/L'], region_nfl_nba['W/l'])

Ttest_indResult(statistic=0.14910444371585257, pvalue=0.8823521296553065)

In [ ]:
region_nfl_nhl = pd.merge(regions_nfl, regions_nhl, how='inner', on='Metropolitan area')
region_nfl_nhl.head()

                   Population_x     L     W  ...   W/L_x  Population_y     W/L_y
Metropolitan area                            ...
Boston                4794447.0   5.0  11.0  ...  0.6875       4794447  0.714286
Buffalo               1132804.0  10.0   6.0  ...  0.3750       1132804  0.357143
Chicago               9512999.0   4.0  12.0  ...  0.7500       9512999  0.458333
Dallas–Fort Worth     7233323.0   6.0  10.0  ...  0.6250       7233323  0.567568
Denver                2853077.0  10.0   6.0  ...  0.3750       2853077  0.589041

[5 rows x 7 columns]

In [ ]:
stats.ttest_ind(region_nfl_nhl['W/L_x'], region_nfl_nhl['W/L_y'])

Ttest_indResult(statistic=-2.186482591730893, pvalue=0.036206737782513654)

In [ ]:
region_nfl_mlb = pd.merge(regions_nfl, regions_mlb, how='inner', on='Metropolitan area')
region_nfl_mlb.head()

                   Population_x   L_x   W_x  ...   W-L%  year_y     W/L_y
Metropolitan area                            ...
Atlanta               5789700.0   9.0   7.0  ...  0.556  2018.0  0.555556
Baltimore             2798886.0   6.0  10.0  ...  0.290  2018.0  0.290123
Boston                4794447.0   5.0  11.0  ...  0.667  2018.0  0.666667
Chicago               9512999.0   4.0  12.0  ...  0.483  2018.0  0.482769
Cincinnati            2165139.0  10.0   6.0  ...  0.414  2018.0  0.413580

[5 rows x 11 columns]

In [ ]:
stats.ttest_ind(region_nfl_mlb['W/L_x'], region_nfl_mlb['W/L_y'])

Ttest_indResult(statistic=0.3344104410458205, pvalue=0.7398170172065339)

In [ ]:
region_nba_nhl = pd.merge(regions_nba, regions_nhl, how='inner', on='Metropolitan area')
region_nba_nhl.head()

                        W/l  Population_x  Population_y       W/L
Metropolitan area
Boston             0.670732       4794447       4794447  0.714286
Chicago            0.329268       9512999       9512999  0.458333
Dallas–Fort Worth  0.292683       7233323       7233323  0.567568
Denver             0.560976       2853077       2853077  0.589041
Detroit            0.475610       4297617       4297617  0.434783

In [ ]:
stats.ttest_ind(region_nba_nhl['W/L'], region_nba_nhl['W/l'])

Ttest_indResult(statistic=1.5050389212319741, pvalue=0.14436675651787648)

In [ ]:
stats.ttest_rel(region_nba_nhl['W/L'], region_nba_nhl['W/l'])

Ttest_relResult(statistic=2.593073319204328, pvalue=0.022297049643438753)